<div class="row">
  <div class="col-12">
    <h1>Welcom  : Maha</h1>
  </div>
  <div class="col-12">
    <div class="row gx-2">
        <div class="col-3 my-5  text-center">
          <div class=" btn">
            <a routerLink="/addadmin"> Add Admin</a>
          </div>
        </div>
        <div class="col-3 my-5  text-center">
          <div class=" btn">
            <a routerLink="/addmeal"> Add Meals</a>
          </div>
        </div>
        <div class="col-3 my-5  text-center">
          <div class=" btn">
            <a routerLink="/showusers"> Show Users </a>
          </div>
        </div>
        <div class="col-3 my-5  text-center">
          <div class=" btn">
            <a routerLink="/showordes"> Show Orders</a>
          </div>
      </div>
      <div class="col-3 my-5  text-center">
        <div class=" btn">
          <a routerLink="/showmeal"> Show Meals</a>
        </div>
      </div>
    </div>
  </div>
</div>