.btn{
  
}
.btn {
  background-color: #9c5959;
  width: 100%;
  margin: 10px;
  border: 1px dashed #9c5959;
  padding: 20px;
}
.btn a{
  font-size: 25px;
  font-weight: bold;
  display: block;
  width: 100%;
  color: antiquewhite !important;
}