
    <div id="container">
      
        <hgroup class="intro">
          <h1 class="title">Connoisseur</h1>
          
        </hgroup>
        <div class="reservations"><br />
          <span class="reservations-title">Call Us:</span>
          <hr class="hr-solid" />
          <span class="phone-number">+012 345 6789</span>
          <hr class="hr-dashed" />
          <div class="email-us"> <a class="button" routerLink="/contact" title="Email Us">Or Email Us</a> </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      
      <div class="wrapper">
        <div class="pikachoose">
            <li><a href=""><img src="/assets/images/gallery/1.jpeg" height="500" width="950" alt="" /></a></li>
           
          
        </div>
        <div class="clear"></div>
        <div class="border"></div>
        <div class="home-widget">
          <h3>Starters</h3>
          <img src="/assets/images/gallery/4.jpg" width="300" alt="" />
          <p>Starters, often called appetizers, consist of some interesting varieties of foods that are eaten before the main meal. They usually include delicate and bite-sized morsels of meats or vegetables that can rouse your taste buds as well as your appetite.</p>
        </div>
        <div class="home-widget">
          <h3>Main Courses</h3>
          <img src="/assets/images/gallery/3.jpeg" width="300" alt="" />
          <p>The traditional Italian meal is structured in 4 parts: antipasti (starters), primo (pasta, that includes dishes such as risotto), secondo (a meat dish, including fish), and dolce (dessert). There is also the optional contorni (sides, generally potatoes, salad, vegetables).</p>
        </div>
        <div class="home-widget">
          <h3>Vegetarian Dishes</h3>
          <img src="/assets/images/gallery/2.jpg" width="300" alt="" />
          <p>Prepare to embark on a culinary adventure as we share some of the top-rated Italian vegetarian dishes. Whether you're seeking a comforting pasta dish to warm your heart or a tantalizing antipasto to kickstart your meal, we have something to satisfy every craving. Each dish is accompanied by a brief description that will transport you to the heart of Italy, and a link to the full recipe, ensuring your journey is filled with culinary success.</p>
        </div>
        <div class="border2"></div>
        <br />
        <aside id="pricing-table" class="clear">
          <div class="plan">
            <h3>Breakfast<span>$99</span></h3>
            <a class="button" routerLink="/menu">Order Now</a>
            <ul>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
          </div>
          <div class="plan">
            <h3>Lunch<span>$99</span></h3>
            <a class="button" routerLink="/menu">Order Now</a>
            <ul>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
          </div>
          <div class="plan">
            <h3>Dinner<span>$99</span></h3>
            <a class="button" routerLink="/menu">Order Now</a>
            <ul>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
              <li><strong style="text-transform:uppercase">lorem Ipsum</strong> Dolor Sit Amet</li>
            </ul>
          </div>
        </aside>
      </div>
      
    </div>
