<div class="row">
  <button class="w-auto fs-6 border-0 fw-bold" routerLink="/dashboard">
    back
  </button>
</div>
<h1 class="text-center w-100 my-5">
  Add Admin
</h1>

<div class="row my-1">
  <div class="col-1"></div>
  <div class="col-10 text-center">
    <label for="" class="mx-5"> Name</label>
    <input type="text" [(ngModel)]="name" >
  </div>
  <div class="col-1"></div>
</div>

<div class="row my-1">
  <div class="col-1"></div>
  <div class="col-10 text-center">
    <label for="" class="mx-4"> Email</label>
    <input type="text" [(ngModel)]="email" >
  </div>
  <div class="col-1"></div>
</div>

<div class="row my-1">
  <div class="col-1"></div>
  <div class="col-10 text-center">
    <label for="" class="mx-4"> Password</label>
    <input type="text" [(ngModel)]="password" >
  </div>
  <div class="col-1"></div>
</div>

<div class="row text-center my-5">
  <button class="w-auto  m-auto fs-4 border-0 fw-bold " (click)="Add()">
    Add
  </button>
</div>