<div class="row">
  <button class="w-auto fs-6 border-0 fw-bold" routerLink="/dashboard">
    back
  </button>
</div>
<div class="row my-3">
  <div class="col-6">
    <h1 class="w-100">All Meals</h1>
  </div>
  <div class="col-6">
    <div class="row text-end">
      <button
        class="w-auto m-auto fs-4 border-0 fw-bold"
        routerLink="/addmeal"
      >
        Add New Meal
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 5%">id</th>
          <th>Img</th>
          <th>Name</th>
          <th>Price</th>
          <th>Rating</th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of meals">
          <td>{{ item.id }}</td>
          <td><img [src]="item.img" alt="" srcset=""></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.rate }}</td>
          <td>
            <button
              class="w-auto fs-6 border-0 fw-bold"
              (click)="delete(item.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
